{% extends "base.html" %}

{% block title %}Chessboard{% endblock %}

{% block content %}
<main class="chessboard-page-container">

    <div>
        <section class="game-state-container">
            <div class="players-turn">
                <!-- players turn -->
                <h1>It is <strong id="turn">{{ player_turn }}</strong> turn</h1>
            </div>
        </section>

        <section class="chessboard-section-container">
            <div class="chessboard-container">
                <!-- chessboard numberline -->
                <div class="numberline">
                    {% for row in range(8, 0, -1) %}
                    <div class="number">{{ row }}</div>
                    {% endfor %}
                </div>

                <!-- chessboard -->
                <div class="chessboard">
                    {% for row in range(8) %}
                    <!-- rows -->
                    <div class="row">
                        {% for col in range(8) %}
                        <!-- cols -->
                        <div id="square-{{ row }}-{{ col }}" class="square {% if (row + col) % 2 == 0 %}white{% else %}black{% endif %}">
                            <div id="square-{{ row }}-{{ col }}-frontlayer" class="">
                                {% for piece, positions in pieces.items() %}
                                    <!-- squares -->
                                    {% if positions[row][col] %}
                                        <!-- piece -->
                                        <div 
                                            class="piece {{ piece }}"
                                            data-piece-name="{{ piece }}"
                                            data-piece-color="{{ 'white' if piece.startswith('white') else 'black' }}"
                                        >
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>     
                        </div>               
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- chessboard letterline -->
            <div class="letterline">
                {% for letter in 'abcdefgh' %}
                <div class="letter">{{ letter }}</div>
                {% endfor %}
            </div>
        </section>
    </div>

    <button id="reset-board-btn">Reset Board</button>


    <section>
        {% include 'components/message-displays.html' %}
    </section>
</main>
{% endblock %}