body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(14, 27, 32);
}

.chessboard-page-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.game-state-container {
    margin-bottom: auto;
}

.players-turn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 75%;
    margin: 0 auto;
    background: rgb(0, 89, 100);
    height: auto;
    font-size: 0.75rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
}

.chessboard-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.chessboard-container {
    display: flex;
    position: relative;
    border: none; /* Remove the outer border */
}

.numberline {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    position: absolute;
    left: -1rem; /* Adjust this value to align properly */
    bottom: 1.25rem;
}

.number {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    opacity: 0.6;
}

.letterline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.25rem;
    margin-right: 2.5rem;
}

.letter {
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    opacity: 0.6;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows: repeat(8, 4rem);
    gap: 0;
    border: 2px solid #a9b6d7; /* Apply the border directly to the chessboard */
    box-sizing: border-box; /* Ensure the border is included in the element's dimensions */
}

.row {
    display: contents;
}

.square {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square.white {
    background-color: #a9b6d7;
}

.square.black {
    background-color: #1d2f3a;
}

.piece {
    width: 3rem;
    height: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.5s ease;
}

.piece:hover {
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
}

.piece.black_king { background-image: url('../assets/pieces/black_king.png'); }
.piece.white_king { background-image: url('../assets/pieces/white_king.png'); }
.piece.black_queen { background-image: url('../assets/pieces/black_queen.png'); }
.piece.white_queen { background-image: url('../assets/pieces/white_queen.png'); }
.piece.black_rooks { background-image: url('../assets/pieces/black_rook.png'); }
.piece.white_rooks { background-image: url('../assets/pieces/white_rook.png'); }
.piece.black_bishops { background-image: url('../assets/pieces/black_bishop.png'); }
.piece.white_bishops { background-image: url('../assets/pieces/white_bishop.png'); }
.piece.black_knights { background-image: url('../assets/pieces/black_knight.png'); }
.piece.white_knights { background-image: url('../assets/pieces/white_knight.png'); }
.piece.black_pawns { background-image: url('../assets/pieces/black_pawn.png'); }
.piece.white_pawns { background-image: url('../assets/pieces/white_pawn.png'); }

.highlight-buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.pawn-move, .knight-move, .bishop-move, .rook-move, .queen-move, .king-move {
    background-color: rgb(74, 183, 190) !important;
}

.row-numberline {
    position: absolute;
}

#invalid-move-modal, #wrong-turn-modal, #king-danger-modal {
    position: absolute;
    color: red;
    z-index: 2;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 86, 92);
    border-radius: 0.5rem;
    font-size: 1.1rem;
}

.modal-content {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.modal-content > span {
    font-size: 2.5rem !important;
}

.player-color-black {
    color: black;
    font-weight: bold;
}

.player-color-white {
    color: rgb(221, 221, 221);
    font-weight: bold;
}

.players-white {
    color: white;
}

.players-black {
    color: black;
}

.highlight {
    background-color: #4c7098 !important;
    opacity: 0.7 !important;
    z-index: 1;
    width: 50%;
    height: 50%;
    border-radius: 50%;
}
